.isActive {
    background: #0d6efd;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 2px 3px 8px gray;
}

.dark-mode {
    cursor: pointer;
}

@media (max-width: 991.98px) {
    .isActive {
        margin: auto;
        width: 100%;
        font-size: 20px;
        color: #ffffff;
    }

    .dark-mode {
        font-size: 23px;
    }
}